@page
@model RazorPagesAriulesanne.Pages.Osavotjad_Ettevotja.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ettevotja[0].JuriidilineNimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ettevotja[0].Registrikood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ettevotja[0].OsavotjateArv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ettevotja[0].Maksmisviis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ettevotja[0].Lisainfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ettevotja) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JuriidilineNimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registrikood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OsavotjateArv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maksmisviis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lisainfo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EttevotjaID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EttevotjaID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EttevotjaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
